@model IEnumerable<Example.Models.Domain.Student>
@{
    var i = 1;
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    @successMessage
}
else @if (!string.IsNullOrWhiteSpace(errorMessage))
{
    @errorMessage
}
<h1>DANH SÁCH SINH VIÊN K19</h1>
<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th>MSSV</th>
        <th>Name</th>
        <th>Birth</th>
        <th>Giới tính</th>
        <th>Hình ảnh</th>
        <th>MSSV</th>
        <th>Chi tiết</th>
        <th>Chỉnh sửa</th>
        <th>Xóa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td> @i</td>
            <td> @item.Mssv</td>
            <td> @item.Name</td>
            <td> @item.Birth.ToString("dd/MM/yyyy")</td>
            @if (@item.Gender == false)
            {
                <td>Nữ</td>
            }
            else
            {
                <td>Nam</td>
            }
            <td><img src="@item.ImgUrl " height="100"></td>
            <td> @item.Mssv</td>
            <td><a class="btn btn-primary" href="~/Student/GetStudentById/@item.Id">Chi tiết</a></td>
            <td><a class="btn btn-primary" href="~/Student/EditStudentById/@item.Id">Chỉnh sửa</a></td>
            <td><a class="btn btn-danger" href="~/Student/DelStudentById/@item.Id">Xóa</a></td>
        </tr>
        i++;

    }

</table>
<a class="btn btn-primary" href="~/Student/AddStudent">Add</a>