@model Example.Models.Domain.Student

@{
    ViewData["Title"] = "Thông tin chi tiết sinh viên";
}

<div class="container">
    <a class="btn btn-primary" asp-controller="Student" asp-action="GetAll">
        <i class="fa-solid fa-arrow-left-long"></i> Trở về
    </a>

    <h1>Thông tin chi tiết sinh viên</h1>

    <div class="row">
        <div class="col-sm-3">
            <img src="@Model.ImgUrl" class="img-thumbnail float-left" />
        </div>
        <div class="col-sm-9">
            <p><span class="d-inline-block w100 fw-bold">Họ tên:</span> @Model.Name</p>
            <p><span class="d-inline-block w100 fw-bold">Hệ số SV:</span> @Model.Hssv</p>
            <p><span class="d-inline-block w100 fw-bold">Ngày sinh:</span> @Model.Birth.ToString("dd/MM/yyyy")</p>
            <p>
                <span class="d-inline-block w100 fw-bold">Giới tính:</span>
                @if (Model.Gender == true)
                {
                    <span>Nam</span>
                }
                else
                {
                    <span>Nữ</span>
                }
            </p>
            <p><span class="d-inline-block w100 fw-bold">Hồ sơ:</span> @Model.Description</p>

            <a class="btn btn-primary" href="/Student/EditStudentById/@Model.Id">Chỉnh sửa</a>
            <a class="btn btn-danger" href="/Student/DeleteStudentById/@Model.Id">Xóa</a>
        </div>
    </div>
</div>